# Gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/*
!.idea/vcs.xml
*.iml
*.iws
*.ipr
out/

#Eclipse
.project
.settings
.classpath

# Node.js / pnpm
node_modules/
dist/

# Spring Boot
*.log
*.pid

# OS
.DS_Store
Thumbs.db

# Local configuration
*.local.*
application-local.yml
application-local.properties

# Claude
.worktrees/
.claude/worktrees
.claire

# H2
*.db
